<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wadairen.spider.dao.mapper.LoanCompanyMapper">
  <insert id="insert4update" useGeneratedKeys="true" keyProperty="id" parameterType="com.wadairen.spider.dao.bean.LoanCompanyModel">
      insert into loan_info_company(
	     site_id,site,source_url,source_url_hash,
	     name,com_intro,loan_intro,purpose,
	     risk_control,risk_control_company,risk_control_product,
	     extra_img,created_at,updated_at)
	   VALUES(
	   	 #{site_id},#{site},#{source_url},#{source_url_hash},
	     #{name},#{com_intro},#{loan_intro},#{purpose},
	   	 #{risk_control},#{risk_control_company},#{risk_control_product},
	     #{extra_img},#{created_at},#{updated_at}
	   ) 
	   ON DUPLICATE KEY UPDATE
	     name=#{name},com_intro=#{com_intro},loan_intro=#{loan_intro},purpose=#{purpose},
	     risk_control=#{risk_control},risk_control_company=#{risk_control_company},risk_control_product=#{risk_control_product},
	     extra_img=#{extra_img},updated_at=#{updated_at}
  </insert>
  
  <select id="selectByHash" parameterType="String" resultType="com.wadairen.spider.dao.bean.LoanCompanyModel">
  	select * from loan_info_company where source_url_hash=#{source_url_hash}
  </select>
</mapper>