<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wadairen.spider.dao.mapper.UserMapper">
  <select id="insertOne" parameterType="com.wadairen.spider.dao.bean.UserModel">
    insert into user(username,password) values(#{username},#{password})
  </select>
</mapper>